.grid-container > div > button {
    margin: 10px;
}

.app-ui-grid-container {
    background-color: white;
    width: 100%;
    height: 100%; 
    outline: none;
    overflow: auto;

    [data-object-name="app-ui-grid-scroll"] {
        width: 100%;
        height: 100%; 
        
    }
    
    [data-object-name="app-ui-grid-content"] {
        width: 100%;
        outline: none;

        &.app-component-shown {
            display: table;            
        } 
        table-layout: fixed;
        border-collapse: separate;

        [data-object-name="checkbox-column"] {
            width: 40px;
            left: 0;
            vertical-align: middle;
        }

        [data-object-name="contextmenu-column"] {
            width: 20px;
            padding: 0px;
            vertical-align: middle;
        }

        .app-ui-grid-head {
            background-color: white;
            position: sticky;
            top: 0;
            z-index: 10;

            &.app-component-shown {
                display: table-header-group;
            }

            .app-ui-header-columns {
                background-color: inherit;

                &.app-component-shown {
                    display: table-row;
                }

                .app-ui-column {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;

                    &.app-component-shown {
                        display: table-cell;
                    }

                    color: #9DA5BE;
                    vertical-align: middle;

                    padding: 10px;
                    margin: 10px;
                    border-bottom: 1px solid #EAEBF1;
                    background-color: inherit;
                    top: 0;

                    .resize-border {
                        position: absolute;
                        right: 0px;
                        top: 0px;
                        height: 60%;
                        
                        width: 5px; 
                        cursor: e-resize;

                        margin: 8px 0px 5px;
                        &:after {
                            content: '';
                            background: #EAEBF1;
                            width: 2px;
                            margin-right: 2px;
                            height: 100%;
                            display: block;
                        }

                    }

                    .sort-handler {
                        position: absolute;
                        right: 10px;
                        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e5e5e5+0,ffffff+100&0+0,1+100 */
                        background: -moz-linear-gradient(left,  rgba(229,229,229,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
                        background: -webkit-linear-gradient(left,  rgba(229,229,229,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
                        background: linear-gradient(to right,  rgba(229,229,229,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e5e5e5', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
                        padding: 0px 3px 0px 15px;
                        svg {
                            path {
                                stroke: #9DA5BE
                            }
                        }
                    }

                }
            }
        }

        .app-ui-grid-rows {
            
            &.app-component-shown {
                display: table-row-group;
            }

            &.-closed {
                .app-ui-rows-group {
                    svg {
                        transform: rotate(180deg);
                    }
                }
                .app-ui-row {
                    &.app-component-shown {
                        display: none;
                    }
                }
            }

            .app-ui-rows-group {
                &.app-component-shown {
                    display: table-row;
                }
                background: #EDEFF5;
                border-radius: 3px;
                cursor: pointer;
                td {
                    &.app-component-shown {
                        display: table-cell;
                    }
                    vertical-align: middle;
                    padding: 5px 10px;
                    span {
                        font-style: normal;
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 14px;
                    }
                    [data-object-name$="rows-title-icon"] {
                        margin-left: 10px;
                    }
                }
            }

            .app-ui-row {
                &.app-component-shown {
                    display: table-row;
                }
                &.app-drop-target-component {
                    border-top: 2px dashed #c0c0c0;
                }

                &.app-component-hascontextmenu {
                    .app-ui-row-cell:nth-last-child(-n+2) {
                        .app-ui-row-cell-value-container, .app-editor-component {
                            width: calc(100% - 20px);
                        }
                    }
                }

                &:hover {
                    background: rgba(209, 215, 233, 0.15);
                }

                .app-contextmenu-icon-component {
                    position: absolute;
                    right: 0px;
                    top: 0px;
                    height: 100%;
                }

                background-color: inherit;

                .app-ui-row-cell {
                    color: #435466;

                    &.app-component-shown {
                        display: table-cell;
                    }

                    &.cell-active {
                        background-color: #f2f4f9;
                    }

                    &.cell-selected {
                        background-color: #DFEEFF;
                    }

                    padding: 10px;
                    
                    &.-editing {
                        padding: 5px;                                
                    }

                    border-bottom: 1px solid #EAEBF1;
                    background-color: inherit;
                    text-overflow: ellipsis;
                    overflow: hidden;

                    &.input-checkbox-shown > .input-checkbox {
                        display: block;
                    }

                    &.position-sticky-x {
                        background: inherit;
                    }

                }

                &.row-active {
                    background-color: #f2f4f9;
                }

                &.row-selected {
                    background-color: #DFEEFF;
                }

                [data-object-name="contextmenu-column"] {
                    width: 20px;
                    padding: 0px;
                    vertical-align: right;
                    .app-contextmenu-icon-component {
                        position: static;

                    }
                }

            }

            .app-ui-row-template {
                > td {
                    color: #435466;
                    padding: 10px;
                    border-bottom: 1px solid #EAEBF1;
                    background-color: inherit;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }
            
            .app-ui-row:hover + .app-ui-row-template, .app-ui-row-template:hover {
                background: rgba(209, 215, 233, 0.15);
            }
            .app-ui-row.row-active + .app-ui-row-template {
                background-color: #f2f4f9;
            }

            .app-ui-row.row-selected + .app-ui-row-template {
                background-color: #DFEEFF;
            }

        }

        .position-sticky-y {
            position: sticky;
            z-index: 1;
        }

        .position-sticky-x {
            position: sticky;
            z-index: 1;
            background: inherit;

        }

        .position-sticky-y.position-sticky-x {
            z-index: 2;
        }

    }

    .app-ui-grid-footer {
        background-color: #F6F7F9;
        position: sticky;
        bottom: 0;
        left: 0;
        z-index: 3;
        height: 45px;
        align-items: center;
        padding-left: 10px;

        &.app-component-shown {
            display: flex;
        }
    }

    [data-object-name="app-ui-grid-norows"] {
        &.app-component-shown {
            display: flex;
        }
        align-items: center;
        justify-content: center;
        height: 90%;
        width: 100%;

        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 26px;
        color: #9DA5BE;
    }
}