.app-ui-virtualgrid-container {
    contain: content;
    overflow: auto;
    
    [data-object-name="app-ui-grid-scroll"] {
        overflow: visible;
        contain: strict;        
    }

    [data-object-name="app-ui-grid-content"] {
        position: sticky;
        top: 0px;
        z-index: 1;
    }
}