
.app-form-component {

    [data-object-name="form-message"] {
        width: 100%;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;      
        color: #ED3545;  
        margin-bottom: 10px;
        &.app-component-shown {
            display: block;
        }
        &:empty {
            display: none;
        }
    }

    .app-buttongroup-component {
        
        &.app-component-shown {
            display: inline-flex;
        }

        background: #FFFFFF;
        border: 1px solid #D9DCE3;
        border-radius: 3px;

        button {
            padding: 6px 12px;
            height: 32px;
            color: #000000;
            background: transparent;
            border: 0px;
            border-right: 1px solid #D9DCE3;
            &:last-child {
                border-right: 0px;
            } 
            &.-selected {
                background: #0095FF;
                color: #ffffff;
            }
        }
    }

}