.app-component-date-field {
    
    [data-object-name$="-content"] > [data-object-name$="-container"] {

        &.app-component-shown {
            display: flex;
        }

        width: 180px;
        align-items: center;

        .app-date-selector-component {
            width: 160px;
            padding: 0px 0px 0px 9px;
        }

        [data-object-name$="-clear"] {
            margin-left: 10px;
            cursor: pointer;
        }
    
    }
}