.app-component-label-field {


    [data-object-name$="-content"] > [data-object-name$="-container"] {

        background: #FFFFFF;
        border-radius: 3px;
        overflow: hidden;
        
        span {
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 20px;
        }
    }

    
}