.app-component-label-field {


    [data-object-name$="-content"] > [data-object-name$="-container"] {

        background: #FFFFFF;
        border: 1px solid #D9DCE3;
        border-radius: 3px;
        overflow: hidden;
    
        span {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
        }
    }

    
}