.app-component-year-field {


    [data-object-name$="-content"] > [data-object-name$="-container"] {

        background: #FFFFFF;
        border-radius: 3px;
    
        span {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
        }
    }

    
}