.app-component-checkbox-field {
    .app-component-checkbox {
        margin-right: 12px;
    }
    [data-object-name$="-container"] {
        &.app-component-shown {
            display: flex;
        }
        align-items: center;
        justify-content: flex-start;
    }
    
    &.-focused [data-object-name$="-icon"] {
        box-shadow: inset 0px 0px 3px #0095ff;
    }

}