.app-component-choose-field {

    &.-openonnote {
        [data-object-name*="-note"] {
            text-decoration: underline;
            cursor: pointer;
        }
    }

    &.-focused input {
        box-shadow: inset 0px 0px 3px #0095ff;
    }


}
