.app-component-datetimerange-field {
    
    
    [data-object-name$="-content"] > [data-object-name$="-container"] {

        &.app-component-shown {
            display: flex;
        } 
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        gap: 20px;

        .app-date-selector-component {
            width: 180px;
            padding: 0px 0px 0px 9px;
        }

        [data-object-name$="-flex1"], [data-object-name$="-flex2"] {
            align-items: center;
            justify-content: flex-start;
            gap: 10px;                
        }

        [data-object-name$="-input1"],[data-object-name$="-input2"] {
            width: 100%;
        }

        [data-object-name$="-clear"] {
            cursor: pointer;
        }

    
    }
}