
.app-component-numberrangeinput-field {
    border-radius: 5px 5px 0px 0px;


    .app-component-numberrangeinput-flex {
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        gap: 10px;

    }


}