.app-component-array-field {

    
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #D9DCE3;

    > [data-object-name$="-title"] {
        display: block;
        font-size: 18px;
    }

    [data-object-name="add-new"].app-component-link {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 140%;
        color: #0076E0;
        cursor: pointer;
        margin-top: 8px;
        &.app-component-shown {
            display: inline-block;
        }
    }

    > [data-object-name$="-title"] {

    }

    > [data-object-name$="-content"] {
        > [data-object-name$="-container"] {
            &.app-component-shown{
                display: block;
            }

            [data-object-name$="-items"] {                
                max-height: 500px;
                overflow-y: auto;
                overflow-x: hidden;
                @include custom-scroll($scrollbar-size, $scrollbar-track-color, $scrollbar-thumb-color, $scrollbar-thumb-hover-color);
                > .app-component-object-field:hover {
                    background: transparentize(#000000, .99);
                }
            }
        }
    }

    &.app-field-noscroll {
        [data-object-name$="-items"] {                
            max-height: none !important;
            overflow-y: visible !important;
            overflow-x: visible !important;
        }
    }

    &.app-field-vertical {
        .app-component-object-field {
            &:first-child {
                padding-top: 0px;
            }
        }
    }
    .app-component-object-field {
        margin-bottom: 10px;
        padding-right: 30px;
        min-height: 65px;
    }
}