.app-component-pane {
    &.app-component-shown {
        display: block;
    }

    position: relative;

    >.app-component-pane-resize {
        position: absolute;
        z-index: 1;
        display: none;
        overflow: hidden;
        touch-action: none;
        -webkit-user-select: none;
        user-select: none;
        &:after {
            display: block;
            content: '';
            height: 1px;
            width: 10px;
            background: #c0c0c0;
        }
        &:before {
            content: '';
            display: block;
            height: 1px;
            width: 10px;
            background: #c0c0c0;
        }

       
    }
    
}