.app-component-widget {
    flex-direction: column;
    position: relative;

    border: 1px solid #f2f2f2;
    border-radius: 5px;
    transition: box-shadow .2s;

    &:hover {
        box-shadow: 0px 0px 5px rgba(0,0,0,.1);
    }

    .widget-header {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border-bottom: 1px solid #f2f2f2;
        padding: 8px 10px;
    }

    .widget-container {
        padding: 10px;
    }

    .widget-footer {
        border-top: 1px solid #f2f2f2;
        padding: 5px 10px;
        &:empty {
            display: none;
        }
    }
    
    .widget-header {
        button {
            background: transparent;
            background-position: center center;
            background-repeat: no-repeat;
            cursor: pointer;
            border: 0px;
            width: 24px;
            height: 24px;
        }
        [data-object-name="close-button"] {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M6 18L18 6' stroke='%23444855' stroke-width='1.85' stroke-linecap='round'/%3E%3Cpath d='M18 18L6 6' stroke='%23444855' stroke-width='1.85' stroke-linecap='round'/%3E%3C/svg%3E");
        }
        [data-object-name="toggle-button"] {
            margin-left: auto;
            transform: rotate(180deg);
            transition: transform .2s;
            background-image: url("data:image/svg+xml,%3Csvg width='16' height='11' viewBox='0 0 16 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.99963 10.5002L-0.000366211 2.50021L1.8663 0.633545L7.99963 6.76688L14.133 0.633545L15.9996 2.50021L7.99963 10.5002Z' fill='%231C1B1F'/%3E%3C/svg%3E%0A");
        }
    }
    .widget-container {
        width: 100%;
        flex: 1 0;
    }

    &.-minimized {
        .widget-header {
            [data-object-name="toggle-button"] {
                transform: rotate(0deg);
            }
            border-bottom: 0px !important;
            padding-bottom: 0px !important;
        }
        .widget-container {
            display: none;
        }
    }
    
}
