.app-toolbar-container-component {

    overflow: auto;

    @include custom-scroll(
        1px,
        inherit,
        inherit,
        inherit
    );

    &.app-component-shown {
        display: flex;
    }
    flex-direction: row;

    align-items: center;
    justify-content: flex-start;

    &.-vertical {
        flex-direction: column;
    }

    padding: 5px 0px;

    .app-component-icon {
        width: 28px;
        height: 28px;
        flex: 0 0 28px;
        margin: 5px 0px 5px 0px;
    }

}