.colibri-ui-table {
    &.app-component-shown {
        display: table;
    }
}

.colibri-ui-tablerow {
    &.app-component-shown {
        display: table-row;
    }
}

.colibri-ui-tablecell, .colibri-ui-tableheadercell {
    &.app-component-shown {
        display: table-cell;
    }
}
