.colibri-ui-maps-controls-rotatebutton {
    
    &.-rotating {
        background: #636363;
            
        [data-object-name="icon"] {
            width: 20px;
            height: 20px;
            svg {
                path[fill="black"], rect[fill="black"] {
                    fill: #ffffff;
                }
            }
        }
    }
    
    &.ui-disabled {
        background: #f2f2f2;
        [data-object-name="label"] {
            color: lightgray;
        }
        svg {
            path {
                fill: lightgray;
            }
        }
    }
}