.colibri-ui-maps-controls-layersbutton {
 
    padding: 10px;
    width: 70px;
    height: 70px;

    border-radius: 5px;
    background: #D9D9D9;
    box-shadow: 0px 0px 10px rgba(0,0,0,.4);
    cursor: pointer;
    position: relative;

    .app-component-icon {
        width: 50px;
        height: 20px;
        position: absolute;
        transition: all .2s;
        z-index: 1;
        left: 10;
        svg {
            fill: inherit;
            path {
                fill: inherit;
            }
        }
    }

    
}