.colibri-ui-maps-controls-statesbutton {
 
    padding: 10px;
    min-width: 40px;
    height: 40px;
    width: auto;

    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    border-radius: 5px;
    background: #D9D9D9;
    box-shadow: 0px 0px 10px rgba(0,0,0,.4);
    cursor: pointer;

    [data-object-name="icon"] {
        width: 20px;
        height: 20px;
        svg {
            path[fill="black"], rect[fill="black"] {
                fill: #1C274C;
            }
        }
    }
    
}