.app-datetime-viewer-component {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    .app-component-textspan {
        &.app-component-shown {
            display: block;
        }
    }
}