.app-htmldata-viewer-component {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    margin-right: 20px;
}