.colibri-ui-jsonviewer {
    

    .app-fields-viewer-component {
        .app-field-pane {
            &.app-component-shown {
                display: flex;
            }
            gap: 20px;
            > .app-field-title {
                width: 150px;
            }
        }
    }

}