.colibri-ui-spectrum-selections {
    pointer-events: none;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    .colibri-ui-spectrum-selections-selection {
        background: rgba(255, 196, 0, 0.158);
        border: 1px solid rgb(255, 196, 0);
        position: absolute;
        pointer-events: all;

        [data-object-name="close-icon"] {
            position: absolute;
            width: 10px;
            height: 10px;
            right: 5px;
            top: 5px;
            cursor: pointer;
        }

        &.-select-column {
            border-top: 0px;
            border-bottom: 0px;
        }

        &.-select-row {
            border-left: 0px;
            border-right: 0px;
        }

        &.-centered {
            &.-select-column {
                &:after {
                    content: '';
                    position: absolute;
                    left: 50%;
                    top: 0px;
                    width: 1px;
                    height: 100%;
                    background: rgb(255, 196, 0);
                }
            }

            &.-select-row {
                &:after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 0px;
                    height: 1px;
                    width: 100%;
                    background: rgb(255, 196, 0);
                }
            }
            &.-select-rect {
                &:after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 0px;
                    height: 1px;
                    width: 100%;
                    background: rgb(255, 196, 0);
                }
                &:before {
                    content: '';
                    position: absolute;
                    left: 50%;
                    top: 0px;
                    width: 1px;
                    height: 100%;
                    background: rgb(255, 196, 0);
                }
            }

        }
    }


}