.colibri-ui-spectrum-selections {
    pointer-events: none;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    .colibri-ui-spectrum-selections-selection {
        background: rgba(255, 196, 0, 0.158);
        border: 1px solid rgb(255, 196, 0);
        position: absolute;
        pointer-events: all;     
    }
}