.colibri-ui-maps-maplibre {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    position: relative;;

    [data-object-name="map-container"] {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 0;
        left: 0;
        top: 0;
    }
 
    [data-object-name="layers"] {
        
    }

    [data-object-name="extensions"] {
        right: 80px;
    }

    [data-object-name="layers"] + [data-object-name="filters"] {
        margin-top: 80px;
        
    }
}