.colibri-ui-informers-download {
    
    max-width: 400px;
   
    position: fixed;
    right: 20px;
    top: 20px;
    background: transparent;

    [data-object-name="list"] {
        [data-object-name="group"] {
            
            > div {
                .app-component-list-item:not(.disable-default) {
                    padding: 0px 20px;
                    border-bottom: 0px;
                    background: transparent;
                    &:hover {
                        background: transparent;
                    }
                }
            }

        }
    }

}