.app-component-window {
    // shadow
    // z-index: 10000;
    position: fixed;
    align-items: flex-start;
    justify-content: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    overflow: auto;

    contain: strict;

    &.app-component-shown {
        display: flex;

        animation-name: fadein;
        animation-duration: 0.1s;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;

    }
    
    .app-component-window-container {
        margin-top: 60px;
        margin-bottom: 60px;
        background-color: #FFFFFF;
        box-shadow: 0px 0px 20px rgba(0,0,0,.3);
        border-radius: 10px;
        position: absolute;

        & {
            @include respond-to(500px) {
                width: 100%;
                min-height: 100%;
                margin: 0px;
                border-radius: 0px;
    
                display: flex;
                flex-direction: column;
                height: 100%;
            }
        }

        .tabs-header-container {
            position: sticky;
            top: 60px;
            z-index: 9;
        }
    
    

    }

    .app-component-window-title {
        position: sticky;
        top: 0;
        z-index: 10;
        color: #2f323a;
        font-size: 22px;
        background-color: white;
        height: 60px;
        line-height: 60px;
        padding: 0 30px;
        border-bottom: 1px solid #e0e3ea;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        &:empty {
            display: none;
        }

        @include respond-to(500px) {
            width: 100% !important;
            flex: 1 1 100%;
        }
    }

    .app-component-window-minimized-content {
        display: none;
    }
    .app-component-window-content {
        padding: 20px 30px;
        & {
            @include respond-to(500px) {
                width: 100% !important;
                height: 100%;
                flex: 1 1 100%;
                overflow: auto;
            }
        }
    }

    .app-component-window-footer {
        position: sticky;
        bottom: 0;
        z-index: 10;
        background-color: #F6F7F9;
        padding: 10px 30px;
        display: flex;
        overflow: hidden;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        &:empty {
            display: none;
        }

        .app-component-button {
            margin: 0 10px 0 0;
            padding: 0px 10px;
        }

    }

    button.s-close {
        position: absolute;
        right: 6px;
        top: 6px;
        width: 24px;
        height: 24px;
        padding: 0px;
        background-color: transparent;
        border: 0;
        cursor: pointer;
        .app-component-icon {
            &.app-component-shown {
                display: block !important;
            }
            width: 12px;
            height: 12px;
            path {
                stroke: #14151A;
                fill: #14151A;
            }
        }
    }

    button.s-minimize {
        position: absolute;
        right: 34px;
        top: 6px;
        width: 24px;
        height: 24px;
        padding: 0px;
        background-color: transparent;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 17H19' stroke='%230B1F35' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        border: 0;
        cursor: pointer;
    }

    &.-minimized {
        left: unset;
        top: unset;
        background: transparent;
        box-shadow: 0px 0px 20px rgba(0,0,0,.3);
        border-radius: 10px;

        transition: all .2s;

        button.s-minimize {
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='4' y='9' width='16' height='9' stroke='%230B1F35' stroke-width='2' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        }
        
        .app-component-window-container {
            width: 100%;
            height: 100%;
            top: 0px;
            left: 0px;
            margin: 0px;
            overflow: hidden;
            background: transparent;
            box-shadow: none;
        }
        .app-component-window-footer {
            display: none !important;
        }
        .app-component-window-content {
            display: none !important;
        }
        .app-component-window-minimized-content:not(:empty) {
            display: block;
        }
    }



}
