.app-extended-button-component {
    
    &.app-component-shown {
        display: flex;
    }

    align-items: center;
    justify-content: center;
    
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;

    min-height: 32px;

    .app-component-icon {
        &.app-component-shown {
            display: inline-flex;
        }
        &:empty {
            display: none;
        }
        align-items: center;
        justify-content: center;
        margin-right: 10px;
        width: 14px;
        height: 14px;
    }

    .app-component-textspan {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #ffffff;
    }

    &.ui-disabled, &:disabled {
        background: #C4C8D4;
        border: 1px solid rgba(0, 0, 0, 0.05);
        cursor: default;
        .app-component-textspan {
            color: #ffffff;
        }

    }
        
    &.ui-icon-right {
        .app-component-icon {
            order: 2;
            margin-right: 0px;
            margin-left: 10px;
        }
        .app-component-textspan {
            order: 1
        }
    }

}

.app-success-button-component {
    .app-component-textspan {
        color: white;
    }
    background: #50C14E;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 3px;
}

.app-gray-button-component {
    background: #9DA5BE;
    .app-component-textspan {
        color: white;
    }
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 3px;
}

.app-error-button-component {
    background: #ED3545;
    .app-component-textspan {
        color: white;
    }
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 3px;
}

.app-simple-button-component {
    
    background: #FFFFFF;
    border: 1px solid #D1D7E9;
    border-radius: 3px;
    .app-component-textspan {
        color: #14151A;
    }
}

.app-outline-blue-button-component {

    background: #FFFFFF;
    border: 1px solid #4CB5FF;
    border-radius: 3px;
    height: 32px;
    color: #4CB5FF;

}

.app-upload-button-component {

    input[type=file] {
        visibility: hidden; 
        width: 1px; 
        height: 1px; 
        outline: none;
    }

}
