
.app-outline-blue-button-component {

    background: #FFFFFF;
    border: 1px solid #4CB5FF;
    border-radius: 3px;
    height: 32px;
    color: #4CB5FF;
    .app-component-textspan {
        color: #4CB5FF;
    }

}