.app-ui-component {
    display: none;

    font-size: 14px;
    font-weight: normal;
    -webkit-user-select: none;
    user-select: none;

    line-height: 100%;
    * {
        line-height: 100%;
    }

    &.app-component-shown {
        display: block;

        &.app-component-hascontextmenu {
            display: flex;
            > *:first-child {
                flex: 1 1 100%;
            }
        }
    }

    &.-block {
        &.app-component-shown {
            display: block;
        }
    }
    &.-inline-block {
        &.app-component-shown {
            display: inline-block;
        }
    }

    &:focus,
    &.-focused {
        box-shadow: $focus-shadow;
    }
   
    @include custom-scroll(
        $scrollbar-size,
        $scrollbar-track-color,
        $scrollbar-thumb-color,
        $scrollbar-thumb-hover-color
    );
    
    .app-contextmenu-icon-component {
        width: 23px;
        align-items: center;
        justify-content: flex-start;
        cursor: pointer;

        &.app-component-shown {
            display: flex;
        }

        &.-selected {
            .app-component-icon {
                background: #4CB5FF;
            }
        }
        
        .app-component-icon {
            &.app-component-shown {
                display: block;
            }
            width: 17px;
            height: 32px;
            background: transparent;
            border-radius: 2px;
            &:hover {
                background: #4CB5FF;
                svg {
                    circle {
                        fill: #ffffff;
                    }
                }
            }
        }
    }


}


.app-component-shadow-div {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: transparent;
    cursor: default;
}