.app-drop-over {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(216, 229, 255, 0.541);
    >div {
        content: '';
        width: 50%;
        height: 200px;            
        border: 1px dashed #778bff;
        border-radius: 20px;
        font-size: 25px;
        font-weight: bold;
        color: #778bff;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 50px;
        text-align: center;
    }
}

.-dragging {
    .app-drop-over {
        display: flex;
    }
}