.-success, .app-simple-button-component.-success {
    color: #00B333;
}
.-dismissed {
    color: #eb6886 !important;
}

.-blue, .app-simple-button-component.-blue {
    color: #0076E0;
    &:hover {
        color: #FF6A00;
    }
}

.-waiting, .app-simple-button-component.-waiting,
.-warning, .app-simple-button-component.-warning {
    color: #FF6A00;
}
.-error, .app-simple-button-component.-error {
    color: #ED3545;
}
.-none, .app-simple-button-component.-none {
    color: #7D859B;
}

.-custom-scroll {
    @include custom-scroll(
        2px,
        $scrollbar-track-color,
        $scrollbar-thumb-color,
        $scrollbar-thumb-hover-color
    );
}

.-cancopy {
    position: relative;
    // padding-left: 15px !important;
    &:after {
        margin-left: 5px;
        margin-top: 1px;
        content: '';
        cursor: pointer;
        display: inline-block;
        vertical-align: top;
        width: 10px;
        height: 10px;
        background-image: url("data:image/svg+xml,%0A%3Csvg id='Group_27733' data-name='Group 27733' xmlns='http://www.w3.org/2000/svg' width='230.451' height='235.429' viewBox='0 0 230.451 235.429'%3E%3Cpath id='Path_25' data-name='Path 25' d='M1101.887,252.759h115.407a28.247,28.247,0,0,1,28.212,28.216v115.4a28.247,28.247,0,0,1-28.212,28.216H1101.887a28.247,28.247,0,0,1-28.211-28.216v-115.4A28.247,28.247,0,0,1,1101.887,252.759ZM1217.294,410.19a13.826,13.826,0,0,0,13.808-13.812v-115.4a13.826,13.826,0,0,0-13.808-13.812H1101.887a13.826,13.826,0,0,0-13.807,13.813v115.4a13.826,13.826,0,0,0,13.807,13.813Z' transform='translate(-1015.055 -189.165)' fill='%232e2842'/%3E%3Cpath id='Path_26' data-name='Path 26' d='M1133.962,266.005h89.5a34.289,34.289,0,0,1,34.255,34.251v3.072a7.2,7.2,0,1,1-14.4,0v-3.072a19.875,19.875,0,0,0-19.853-19.848h-89.5a33.716,33.716,0,0,0-33.674,33.674v89.506a19.873,19.873,0,0,0,19.848,19.848,7.2,7.2,0,0,1,0,14.4,34.291,34.291,0,0,1-34.252-34.251V314.083A48.131,48.131,0,0,1,1133.962,266.005Z' transform='translate(-1085.885 -266.005)' fill='%232e2842'/%3E%3C/svg%3E%0A");
        background-size: 10px 10px;
        background-position: center center;
        background-repeat: no-repeat;
    }
    &:hover:after {
        background-image: url("data:image/svg+xml,%0A%3Csvg id='Group_27733' data-name='Group 27733' xmlns='http://www.w3.org/2000/svg' width='230.451' height='235.429' viewBox='0 0 230.451 235.429'%3E%3Cpath id='Path_25' data-name='Path 25' d='M1101.887,252.759h115.407a28.247,28.247,0,0,1,28.212,28.216v115.4a28.247,28.247,0,0,1-28.212,28.216H1101.887a28.247,28.247,0,0,1-28.211-28.216v-115.4A28.247,28.247,0,0,1,1101.887,252.759ZM1217.294,410.19a13.826,13.826,0,0,0,13.808-13.812v-115.4a13.826,13.826,0,0,0-13.808-13.812H1101.887a13.826,13.826,0,0,0-13.807,13.813v115.4a13.826,13.826,0,0,0,13.807,13.813Z' transform='translate(-1015.055 -189.165)' fill='%230074EB'/%3E%3Cpath id='Path_26' data-name='Path 26' d='M1133.962,266.005h89.5a34.289,34.289,0,0,1,34.255,34.251v3.072a7.2,7.2,0,1,1-14.4,0v-3.072a19.875,19.875,0,0,0-19.853-19.848h-89.5a33.716,33.716,0,0,0-33.674,33.674v89.506a19.873,19.873,0,0,0,19.848,19.848,7.2,7.2,0,0,1,0,14.4,34.291,34.291,0,0,1-34.252-34.251V314.083A48.131,48.131,0,0,1,1133.962,266.005Z' transform='translate(-1085.885 -266.005)' fill='%230074EB'/%3E%3C/svg%3E%0A");
    }
}

.tip {
    position: fixed;
    font-size: 16px;
    line-height: 20px;
    text-transform: none;
    padding: 5px;
    padding: 8px 12px;
    background: rgba(0,0,0,.7);
    border-radius: 2px;
    max-width: 400px;
    font-size: 14px;
    text-align: left;
    font-weight: normal;
    color: #fff;
    opacity: 0;
    display: none;
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s, visiblity 0s;
    white-space: normal;
}
