.app-buttongroup-component {
    &.app-component-shown {
        display: flex;
    }
    outline: none;
    align-items: center;
    justify-content: flex-start;
    &.-vertical {
        flex-direction: column;
    }
    
}