.app-notices-component {

    position: fixed;
    right: 20px;
    top: 20px;

    width: 384px;
    @include respond-to(600px) {
        width: calc(100% - 20px);
        right: 10px;
    }

    .app-component-list {
        padding: 0px 20px;
        
        overflow: hidden;
        overflow-y: auto;
        max-height: calc(100vh - 20px);
        & {
            @include respond-to(600px) {
                padding: 0px 0px;
            }
        }
    }

    .app-component-list-group > div {
        padding: 0px;
    }

    .app-component-list-group {
        .app-component-list-item:not(.disable-default) {

            transition: all .3s;

            position: relative;
    
            width: 100%;
            margin-bottom: 20px;
            margin-left: 100%;
            
            border-bottom: 0px;
    
            box-shadow: 0px 1px 4px rgba(44, 48, 59, 0.3), 0px 4px 12px rgba(44, 48, 59, 0.35);
            border-radius: 3px;
    
            padding: 16px;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 140%;
            color: #ffffff;
            padding-right: 50px;
            opacity: 0;
            
            & {                
                @include respond-to(600px) {
                    margin-left: unset;
                    margin-top: -100%;
                }
            }
    
            .app-notice-icon-component {
                position: absolute;
                right: 10px;
                top: 10px;
                svg {
                    width: 16px;
                    height: 16px;
                    path {
                        fill: #ffffff;
                    }
                }
            }

            &.app-notice-white-component {
                position: relative;
                opacity: 1;
                margin-left: 0px;
                
                background: white;
                color: black;
                &:hover, &.app-component-selected {
                    background: white;
                }

                & {
                    @include respond-to(600px) {
                        margin-left: unset;
                        margin-top: 0px;
                    }
                }
        
            }
    
            &.app-notice-success-component {
                position: relative;
                opacity: 1;
                margin-left: 0px;
                background: #00B333;
                &:hover, &.app-component-selected {
                    background: #00B333;
                }
                & {
                    @include respond-to(600px) {
                        margin-left: unset;
                        margin-top: 0px;
                    }
                }
            }
    
            &.app-notice-error-component {
                position: relative;
                opacity: 1;
                background: #ED3545;
                margin-left: 0px;
                &:hover, &.app-component-selected {
                    background: #ED3545;
                }
                & {
                    @include respond-to(600px) {
                        margin-left: unset;
                        margin-top: 0px;
                    }
                }
            }
    
            &.app-notice-warning-component {
                position: relative;
                margin-left: 0px;
                opacity: 1;
                background: #FF6A00;
                &:hover, &.app-component-selected {
                    background: #FF6A00;
                }
                & {
                    @include respond-to(600px) {
                        margin-left: unset;
                        margin-top: 0px;
                    }
                }
            }
    
        }
    }

    

}