
.app-component-popup-list-component {
    position: absolute;
    background: #FFFFFF;
    box-shadow: 0px 1px 4px rgba(44, 48, 59, 0.1), 0px 4px 12px rgba(44, 48, 59, 0.15);
    padding-bottom: 0px;
    min-width: 200px;
    max-height: 250px;
    min-height: 110px;

    &.app-component-shown {
        animation-name: fadein;
        animation-duration: 0.1s;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
    }

    .app-component-list-group {
        height: 100%;
        overflow: auto;
        > div {
            padding: 0px;
        }
        > span {
            -webkit-user-select: none;
            user-select: none;
            display: inline-block;
            width: 100%;
            font-weight: 600;
            font-size: 16px;
            padding: 6px 12px;
            background: #e4f4ff;
            &:empty {
                display: none;
            }
        }
        >span:empty {
            display: none;
        }
        .app-component-list-item:not(.disable-default) {
            padding: 6px 12px;
            border-bottom: 0px;
            &:hover {
                background: #e4f4ff;
            } 
            &.-group {
                -webkit-user-select: none;
                user-select: none;
                display: inline-block;
                width: 100%;
                font-weight: 600;
                font-size: 16px;
                background: #e4f4ff;
                padding: 12px;
                margin: 10px 0px;
                &:first-child {
                    margin: 0px;
                }
            }

            .app-popup-list-item-content {
                display: flex;
                align-items: center;
                justify-content: stretch;
                width: 100%;
                >div {
                    flex: 1 1;
                }
                >svg {
                    display: none;
                    flex: 0 0 12px;
                }
            }

            &.app-component-selected {
                .app-popup-list-item-content {
                    >svg {
                        display: block;
                    }
                }
            }

        }
    }

    
    &.-focused.-can-select {
        > .app-component-list-group {
            >div {
                > .app-component-list-item:not(.disable-default) {
                    &.app-component-selected {
                        background: #0095FF;
                        color: #fff;
                    }
                }
            }
        }
        
    }

    .app-component-list-searchbox + .app-component-list-group {
        height: calc(100% - 32px);
    }
}