.app-component-switcher {

    &.app-component-shown {
        display: flex;
    }

    align-items: center;
    justify-content: flex-start;

    .text {
        margin-right: 10px;
    }

    .prev-button {
        margin-right: 10px;
    }

    .prev-button,
    .next-button {
        cursor: pointer;
        color: #7D859B;

        &.disabled {
            cursor: no-drop;

            & > svg > path {
                stroke: #C4C8D4;
            }
        }
    }
}