.app-tooltip-component {
    position: absolute;
    left:0;
    top:0;
    margin: 1px;
    cursor: default;

    &.app-component-shown {

        animation-name: fadein;
        animation-duration: 0.2s;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;

    }

    background: #ffffff;
    box-shadow: 0px 0px 20px rgba(0, 116, 255, 0.4);
    border-radius: 10px;

    padding: 20px;
    min-width: 290px;
    margin-left: 15px;

    [data-object-name="arrow"] {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 9px 10px 9px 0;
        border-color: transparent #ffffff transparent transparent;
        position: absolute;
        left: -10px;
    }

    &[data-orientation^="lt"], &[data-orientation^="lm"], &[data-orientation^="lb"] {
        margin-left: 0px;
        margin-right: 15px;

        [data-object-name="arrow"] {
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 9px 0 10px 9px;
            border-color: transparent transparent transparent #ffffff;
            position: absolute;
            right: -9px;
            left: unset;
    
        }
    }

    &[data-orientation$=",rt"] {
        margin-top: -10px;
        [data-object-name="arrow"] {
            top: 10px;
        }
    }
    &[data-orientation$=",rm"] {
        [data-object-name="arrow"] {
            top: calc(50% - 9px);
        }
    }
    &[data-orientation$=",rb"] {
        margin-top: 10px;
        [data-object-name="arrow"] {
            top: unset;
            bottom: 10px;
        }
    }

    p, ul, div {
        margin: 0px 0px 10px 0px;
        &:last-child {
            margin-bottom: 0px;
        }
    }

    

}
