.colibri-ui-ruler {
    overflow: hidden;
    position: relative;

    canvas {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 0;
    }


    .colibri-ui-rangepicker-rangepicker-progress-pane {
        background: rgba(0,0,0,.1);
        z-index: 1;
        height: 100%;
        position: absolute;

        >.app-component-pane {
            position: relative;
            padding: 0px;
            background: rgba(0,0,0,.5);
            width: 100%;
            height: 100%;

            >.app-component-pane {
                
                width: 5px;
                height: 100%;
                background: #000;
                position: absolute;
                z-index: 1;
                cursor: pointer;

                &.app-component-shown {
                    display: block;
                }

            }
        }
    }
}