.app-ui-tree-component {
	overflow: auto;
	height: 100%;
	padding-right: 20px;
	position: relative;

	&.app-component-shown {
		display: flex;
		flex-direction: column;
	}

	> .app-contextmenu-icon-component {
		position: absolute;
		bottom: 0px;
		right: 0px;
	}

	.nodes {
		flex: 1 1 100%;

		.expanded > .nodes {
			display: block;
		}

		.nodes {
			display: none;
		}

		.node {
			> div:not([data-object-name]) {
				display: flex;
				align-items: center;
				justify-content: stretch;
				padding: 12px 0 10px 10px;
				border: 1px solid transparent;
				cursor: pointer;
				margin-left: 10px;

				&:hover {
					background-color: #f6f7f9;
				}

				&.selected {
					background-color: #d1e7ff;
					border-radius: 3px;
				}

				> span, > input {
					margin-left: 12px;
					font-size: 14px;
					flex: 1 1;
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
				}
				> input {
					display: none;
					margin-right: 12px;
					border: 0px;
					outline: none;
					padding: 5px 10px;
				}
				> em {
					padding-left: 10px;
					svg {
						width: 28px;
						height: 28px;
					}
				}

				.expander {
					cursor: pointer;
					width: 12px;
					height: 12px;
					background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='11' height='11' rx='1.5' stroke='%23435466'/%3E%3Crect x='2.76929' y='5.53845' width='6.46154' height='0.923077' rx='0.461538' fill='%23435466'/%3E%3Crect x='5.53845' y='2.76923' width='0.923077' height='6.46154' rx='0.461538' fill='%23435466'/%3E%3C/svg%3E%0A");
				}
			}

			&.editing {
				> div:not([data-object-name]) {
					> input {
						display: inline-block;
					}
					> span {
						display: none;
					}
				}
			}

			.nodes {
				margin-left: 18px;
			}
		}

		.expanded > div:not([data-object-name]) > .expander {
			background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='11' height='11' rx='1.5' stroke='%23435466'/%3E%3Crect x='2.76904' y='5.53845' width='6.46154' height='0.923077' rx='0.461538' fill='%23435466'/%3E%3C/svg%3E%0A");
		}

		.is-leaf > div:not([data-object-name]) > .expander {
			cursor: unset;
			background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='11' height='11' rx='1.5' stroke='%23435466'/%3E%3Crect x='4' y='4' width='4' height='4' rx='2' fill='%23435466'/%3E%3C/svg%3E%0A");
		}
	}

	&.app-drop-component {
		.node.app-drop-target-component > div:first-child {
			border: 1px dashed #4CB5FF;
		}
	}

	> .nodes > .node > div:not([data-object-name]) {
		margin-left: 0px;

		span {
			font-size: 16px;
			color: #2f323a;
			font-weight: bold;
		}
	}
}
